{"openapi":"3.0.0","info":{"title":"Contentstack Content Management API OpenAPI Specification","description":"<p>Contentstack provides a set of read-write APIs that enables you to interact with the information and perform any tasks within your Contentstack account. You can create\\/edit\\/delete entries and assets, manage Content Types, etc., using these APIs. Contentstack provides an OpenAPI JSON file that consists of a set of preconfigured REST API requests that will make it easy for you to get started with the Contentstack Management APIs and try out our API requests through the Swagger Editor.\n</p><p style=\"background-color: rgb(255, 255, 255);\">CMA OpenAPI Details:\n</p><ul>\n\t<li>Version: 1.0.0</li>\n\t<li>Last Updated: March 21, 2022</li>\n</ul>","version":"1.0.0"},"servers":[{"url":"https://api.contentstack.io","description":"North America"},{"url":"https://eu-api.contentstack.com","description":"Europe"}],"paths":{"/v3/user":{"get":{"summary":"Get user","description":"<p>The <code>Get user</code> call returns comprehensive information of an existing user account. The information returned includes details of the stacks owned by and shared with the specified user account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-user>Get user</a> API Reference document","operationId":"getuser","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"security":[{"authtoken":[]}]},"put":{"summary":"Update user","description":"<p>The <code>Update User</code> API Request updates the details of an existing user account. Only the&nbsp;information entered here will be updated, the existing data will remain unaffected.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#update-user>Update user</a> API Reference document","operationId":"updateuser","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"company\": \"company name inc.\"\n\t}\n}"}}},"required":true}}},"/v3/user/activate/{user_activation_token}":{"post":{"summary":"Activate a user account","description":"<p>The <code>Activate a user account</code> call activates the account of a user after signing up. For account activation, you will require the token received in the activation email.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#activate-a-user-account>Activate a user account</a> API Reference document","operationId":"activateauseraccount","parameters":[{"$ref":"#/components/parameters/user_activation_token"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\"user\": {\n\"first_name\": \"your_first_name\",\n\"last_name\": \"your_last_name\",\n\"password\": \"your_password\",\n\"password_confirmation\": \"confirm_your_password\"\n}\n}"}}},"required":true}}},"/v3/user/forgot_password":{"post":{"summary":"Request for a password","description":"<p>The <strong>Request for a password</strong> API helps to get a temporary password to log into an account in case a user has forgotten the login password.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#request-for-a-password>Request for a password</a> API Reference document","operationId":"requestforapassword","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"email\": \"john.doe@contentstack.com\"\n\t}\n}"}}},"required":true}}},"/v3/user/reset_password":{"post":{"summary":"Reset password","description":"<p>The <strong>Reset password</strong> API request allows you to reset your Contentstack account password.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#reset-password>Reset password</a> API Reference document","operationId":"resetpassword","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Users"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"reset_password_token\": \"abcdefghijklmnop1234567890\",\n\t\t\"password\": \"Simple@123\",\n\t\t\"password_confirmation\": \"Simple@123\"\n\t}\n}"}}},"required":true}}},"/v3/user-session":{"post":{"summary":"Log in to your account","description":"<p>The <code>Log in to your account</code>&nbsp;request is used to sign in to your Contentstack account and obtain the authtoken.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#log-in-to-your-account>Log in to your account</a> API Reference document","operationId":"logintoyouraccount","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["User session"],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"user\": {\n\t\t\"email\": \"{{user_email}}\",\n\t\t\"password\": \"{{password}}\",\n\t\t\"tfa_token\": \"{{your_2FA_token}}\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Log out of your account","description":"<p>The <code>Log out of your account</code> call is used to sign out the user of&nbsp;Contentstack account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#log-out-of-your-account>Log out of your account</a> API Reference document","operationId":"logoutofyouraccount","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["User session"],"security":[{"authtoken":[]}]}},"/v3/organizations":{"get":{"summary":"Get all Organizations","description":"<p>The <code>Get all organizations</code> call lists all organizations related to the system user in the order that they were created.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-organizations>Get all Organizations</a> API Reference document","operationId":"getallorganizations","parameters":[{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of entries in the output. Example, if there are 10 organizations and you wish to fetch only the first 2, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organizations in the output. Example, if there are 12 organizations and you want to skip the first 2 to get only the last 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organizations in the ascending order with respect to the value of a specific field.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of Organizations in the descending order with respect to the value of a specific field.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of organizations related to the user. Example: If you wish to know the total number of organizations, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The typeahead parameter is a type of filter that allows you to perform a name-based search on all organizations based on the value provided. Example, if we have four organizations named ‘ABC’, ‘ABC1’, ‘XYZ’, and ‘ACC’, and we provide ‘ABC’ as the value to this parameter, the search result will return the organizations ‘ABC’ and ‘ABC1’ as the output.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}":{"get":{"summary":"Get a single Organization","description":"<p>The <code>Get a single organization</code> call gets the comprehensive details of a specific organization related to the system user.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-organization>Get a single Organization</a> API Reference document","operationId":"getasingleorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"include_plan","in":"query","required":false,"description":"The include_plan parameter includes the details of the plan that the organization has subscribed to. To include the details of the subscribed plan in the Response body, enter ‘true’.\n","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/roles":{"get":{"summary":"Get all roles in an Organization","description":"<p>The <code>Get all roles in an organization</code> call&nbsp;gives the details of all the roles that are set to users in an Organization.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-roles-in-an-organization>Get all roles in an Organization</a> API Reference document","operationId":"getallrolesinanorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of Organization roles in the output. Example, if there are 10 organization roles and you wish to fetch only the first 2, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of Organization roles in the output. For example, if there are 12 organization roles and you want to skip the first 2 to get only the last 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organization roles in an ascending order on the basis of a parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of organization roles in a descending order on the basis of a parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of roles in an organization. For example: If you want to know the total number of roles in an organization, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_roles","in":"query","required":false,"description":"The ‘include_stack_roles’ parameter,&nbsp;when set to ‘true’, includes the details of stack-level roles in the Response body.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/share":{"post":{"summary":"Add users to Organization","description":"<p>The <code>Add users to organization</code> call allows you to send invitations to add users to your organization. Only the owner or the admin of the organization can add users.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#add-users-to-organization>Add users to Organization</a> API Reference document","operationId":"adduserstoorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"share\": {\n\t\t\"users\": {\n\t\t\t\"abc@sample.com\": [\"{{orgAdminRoleUid}}\"],\n\t\t\t\"xyz@sample.com\": [\"{{orgMemberRoleUid}}\"]\n\t\t},\n\t\t\"stacks\": {\n\t\t\t\"abc@sample.com\": {\n\t\t\t\t\"{{apiKey}}\": [\"{{stackRoleUid1}}\"]\n\t\t\t},\n\t\t\t\"xyz@sample.com\": {\n\t\t\t\t\"blta1ed1f11111c1eb1\": [\"blt111d1b110111e1f1\"],\n\t\t\t\t\"bltf0c00caa0f0000f0\": [\"bltcea22222d2222222\", \"blt333f33cb3e33ffde\"]\n\t\t\t}\n\t\t},\n\t\t\"message\": \"Invitation message\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Remove users from organization","description":"<p>The <code>Remove users from organization</code> request allows you to remove existing users from your organization.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#remove-users-from-organization>Remove users from organization</a> API Reference document","operationId":"removeusersfromorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"emails\":[\n        \"abc@sample.com\", \"xyz@sample.com\"\n    ]\n}"}}},"required":true}},"get":{"summary":"Get all Organization invitations","description":"<p>The <code>Get all organization invitations</code> call gives you a list of all the Organization invitations. Only the owner or the admin of the Organization can resend the invitation to add users to an Organization.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-organization-invitations>Get all Organization invitations</a> API Reference document","operationId":"getallorganizationinvitations","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of sent organization invitations in the output. Example, if 10 invitations were sent out and you wish to fetch only the first 8, you need to specify '2' as the value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organization roles in the output. Example, if there are 12 organization roles and you want to skip the last 2 to get only the first 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of organization invitations in ascending order on the basis of a specific parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of organization invitations in descending order on the basis of a specific parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of organization invitations sent out. Example: If you wish to know the total number of organization invitations, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"include_roles","in":"query","required":false,"description":"The ‘include_roles’ parameter,&nbsp;when set to ‘true’, will display the details of the roles that are assigned to the user in an organization.","style":"form","schema":{"type":"string","example":""}},{"name":"include_invited_by","in":"query","required":false,"description":"The ‘include_invited_by’ parameter, when set to ‘true’, includes the details of the user who sent out the organization invitation.","style":"form","schema":{"type":"string","example":""}},{"name":"include_user_details","in":"query","required":false,"description":"The ‘include_user_details’ parameter,&nbsp;when set to ‘true’, lets you know whether the user who has been sent the organization invitation has enabled Two-factor Authentication or not.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The ‘typeahead’ parameter allows you to perform a name-based search on all the stacks on an organization based on the value provided. For example, it allows you to perform an email-ID-based search on all users based on the email ID provided.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/share/{share_uid}/resend_invitation":{"get":{"summary":"Resend pending Organization invitation","description":"<p>The <code>Resend pending organization invitation</code> call allows you to resend Organization invitations to users who have not yet accepted the earlier invitation. Only the owner or the admin of the Organization can resend the invitation to add users to an Organization.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#resend-pending-organization-invitation>Resend pending Organization invitation</a> API Reference document","operationId":"resendpendingorganizationinvitation","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/share_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/transfer-ownership":{"post":{"summary":"Transfer Organization ownership","description":"<p>The <code>Transfer organization ownership</code> call transfers the ownership of an Organization to another user. When the call is executed, an email invitation for accepting the ownership of a particular Organization is sent to the specified user.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#transfer-organization-ownership>Transfer Organization ownership</a> API Reference document","operationId":"transferorganizationownership","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"transfer_to\": \"abc@sample.com\"\n}"}}},"required":true}}},"/v3/organizations/{organization_uid}/stacks":{"get":{"summary":"Get all stacks in an Organization","description":"<p>The <code>Get all stacks in an organization</code> call fetches the list of all stacks in an Organization.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-stacks-in-an-organization>Get all stacks in an Organization</a> API Reference document","operationId":"getallstacksinanorganization","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"name":"limit","in":"query","required":false,"description":"The ‘limit’ parameter will return a specific number of stacks in the output. Example, if there are 10 organization stacks and you wish to fetch only the first 2, you need to specify '2' as value in this parameter.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"The ‘skip’ parameter will skip a specific number of organization stacks in the output. Example, if there are 12 stacks and you want to skip the last 2 to get only the first 10 in the response body, you need to specify ‘2’ here.","style":"form","schema":{"type":"string","example":""}},{"name":"asc","in":"query","required":false,"description":"The ‘asc’ parameter allows you to sort the list of stacks in an organization in the ascending order.","style":"form","schema":{"type":"string","example":""}},{"name":"desc","in":"query","required":false,"description":"The ‘desc’ parameter allows you to sort the list of stacks in an organization in the descending order.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"The ‘include_count’ parameter returns the total number of stacks in an organization. Example: If you wish to know the total number of stacks in your organization, you need to mention ‘true’.","style":"form","schema":{"type":"string","example":""}},{"name":"typeahead","in":"query","required":false,"description":"The ‘typeahead’ parameter allows you to perform a name-based search on all the stacks on an organization based on the value provided.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/logs":{"get":{"summary":"Get organization log details","description":"<p>The <span class=\"code\">Get organization log details</span> request is used to retrieve the audit log details of an organization. <br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-organization-log-details>Get organization log details</a> API Reference document","operationId":"getorganizationlogdetails","parameters":[{"$ref":"#/components/parameters/organization_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/organizations/{organization_uid}/logs/{log_uid}":{"get":{"summary":"Get organization log item","description":"<p>The <span class=\"code\">Get organization log item</span> request is used to retrieve a specific item from the audit log of an organization.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-organization-log-item>Get organization log item</a> API Reference document","operationId":"getorganizationlogitem","parameters":[{"$ref":"#/components/parameters/organization_uid"},{"$ref":"#/components/parameters/log_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Organizations"],"security":[{"authtoken":[]}]}},"/v3/stacks":{"get":{"summary":"Get a single stack | Get all users of a stack","description":"<p>For more information on the individual requests, click on their respective documentation links below:\n\nAnd below this line, we'll be providing the documentation links in bulleted list form.</p>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-stack\" target=_blank>Get a single stack</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-users-of-a-stack\" target=_blank>Get all users of a stack</a></li></ul>","operationId":"getasinglestack|getallusersofastack","parameters":[{"name":"include_collaborators","in":"query","required":false,"description":"Set this parameter to 'true' to include the details of the stack collaborators.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_variables","in":"query","required":false,"description":"Set this to 'true' to display the stack variables. Stack variables are extra information about the stack, such as the description, format of date, format of time, and so on. Users can include or exclude stack variables in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"include_discrete_variables","in":"query","required":false,"description":"Set this to 'true' to view the access token of your stack.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this to 'true' to include in the response the total count of the stacks owned by or shared with a user account.","style":"form","schema":{"type":"string","example":""}},{"name":"organization_uid","in":"header","required":false,"style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]},"post":{"summary":"Create stack","description":"<p>The <code>Create stack</code> call creates a new stack in your Contentstack account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#create-stack>Create stack</a> API Reference document","operationId":"createstack","parameters":[{"name":"organization_uid","in":"header","required":true,"style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n  \"stack\": {\n    \"name\": \"My New Stack\",\n    \"description\": \"My new test stack\",\n    \"master_locale\": \"en-us\"\n  }\n}"}}},"required":true}},"put":{"summary":"Update stack","description":"<p>The <code>Update stack</code> call lets you update the name and description of an existing stack.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#update-stack>Update stack</a> API Reference document","operationId":"updatestack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"stack\": {\n\t\t\"name\": \"My New Stack\",\n\t\t\"description\": \"My new test stack\"\n\t}\n}"}}},"required":true}},"delete":{"summary":"Delete stack","description":"<p>The <code>Delete stack</code> call is used to delete an existing stack permanently from your Contentstack account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#delete-stack>Delete stack</a> API Reference document","operationId":"deletestack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]}},"/v3/stacks/":{"get":{"summary":"Get all stacks","description":"<p>The <code>Get all stacks</code> call fetches the list of all stacks owned by and shared with a particular user account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-stacks>Get all stacks</a> API Reference document","operationId":"getallstacks","parameters":[{"name":"include_collaborators","in":"query","required":false,"description":"Set this parameter to 'true' to include the details of the stack collaborators.","style":"form","schema":{"type":"string","example":""}},{"name":"include_stack_variables","in":"query","required":false,"description":"Set this to 'true' to display the stack variables. Stack variables are extra information about the stack, such as the description, format of date, format of time, and so on. Users can include or exclude stack variables in the response.","style":"form","schema":{"type":"string","example":""}},{"name":"include_discrete_variables","in":"query","required":false,"description":"Set this to 'true' to view the access token of your stack.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this to 'true' to include in the response the total count of the stacks owned by or shared with a user account.","style":"form","schema":{"type":"string","example":""}},{"name":"organization_uid","in":"header","required":false,"style":"simple","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"authtoken":[]}]}},"/v3/stacks/users/roles":{"post":{"summary":"Update User Role","description":"<p>The <code>Update User Role</code> API Request updates the roles of an existing user account. This API Request will override the existing roles assigned to a user. For example, we have an existing user with the \"Developer\" role, and if you execute this API request with \"Content Manager\" role, the user role will lose \"Developer\" rights and the user role&nbsp;be updated to just \"Content Manager\".<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#update-user-role>Update User Role</a> API Reference document","operationId":"updateuserrole","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"users\": {\n\t\t\"user_uid\": [\"role_uid1\", \"role_uid2\"]\n\t}\n}"}}},"required":true}}},"/v3/stacks/transfer_ownership":{"post":{"summary":"Transfer stack ownership to other users","description":"<p>The <code>Transfer stack ownership to other users</code> call sends the specified user an email invitation for accepting the ownership of a particular stack.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#transfer-stack-ownership-to-other-users>Transfer stack ownership to other users</a> API Reference document","operationId":"transferstackownershiptootherusers","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"transfer_to\": \"manager@example.com\"\n}"}}},"required":true}}},"/v3/stacks/accept_ownership/{ownership_token}":{"get":{"summary":"Accept stack owned by other user","description":"<p>The <code>Accept stack owned by other user</code> call allows a user to accept the ownership of a particular stack via an email invitation.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#accept-stack-owned-by-other-user>Accept stack owned by other user</a> API Reference document","operationId":"acceptstackownedbyotheruser","parameters":[{"$ref":"#/components/parameters/ownership_token"},{"name":"uid","in":"query","required":true,"description":"Enter the user uid.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"]}},"/v3/stacks/settings":{"get":{"summary":"Get stack settings","description":"<p>The <code>Get stack settings</code> call retrieves the configuration settings of an existing stack.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-stack-settings>Get stack settings</a> API Reference document","operationId":"getstacksettings","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}]},"post":{"summary":"Add stack settings | Reset stack settings","description":"<p>For more information on the individual requests, click on their respective documentation links below:\n\nAnd below this line, we'll be providing the documentation links in bulleted list form.</p>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#add-stack-settings\" target=_blank>Add stack settings</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#reset-stack-settings\" target=_blank>Reset stack settings</a></li></ul>","operationId":"addstacksettings|resetstacksettings","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Add stack settings ":{"summary":"Add stack settings ","value":"{\n  \"stack_settings\":{\n    \"stack_variables\":{\n      \"enforce_unique_urls\":true,\n      \"sys_rte_allowed_tags\":\"style, figure, script\"\n    },\n    \"rte\":{\n      \"cs_only_breakline\":true\n    }\n  }\n}"},"Reset stack settings":{"summary":"Reset stack settings","value":"{\n    \"stack_settings\":{\n        \"discrete_variables\":{},\n        \"stack_variables\":{}\n    }\n}"}}}},"required":true}}},"/v3/stacks/share":{"post":{"summary":"Share a stack","description":"<p>The <code>Share a stack</code> call shares a stack with the specified user to collaborate on the stack.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#share-a-stack>Share a stack</a> API Reference document","operationId":"shareastack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"emails\": [\n\t\t\"manager@example.com\"\n\t],\n\t\"roles\": {\n\t\t\"manager@example.com\": [\n\t\t\t\"abcdefhgi1234567890\"\n\t\t]\n\t}\n}"}}},"required":true}}},"/v3/stacks/unshare":{"post":{"summary":"Unshare a stack","description":"<p>The <code>Unshare a stack</code> call unshares a stack with a user and removes the user account from the list of collaborators. Once this call is executed, the user will not be able to view the stack in their account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#unshare-a-stack>Unshare a stack</a> API Reference document","operationId":"unshareastack","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Stacks"],"security":[{"api_key":[],"authtoken":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n\t\"email\": \"manager@example.com\"\n}"}}},"required":true}}},"/v3/stacks/branches":{"get":{"summary":"Get all branches","description":"<p>The <code>Get all branches</code> request returns comprehensive information of all the branches available in a particular stack in your account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-branches>Get all branches</a> API Reference document","operationId":"getallbranches","parameters":[{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of branches to be returned.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of branches to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this parameter to 'true' to include in response the total count of branches available in a stack.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"post":{"summary":"Create a branch","description":"<p>The <code>Create a branch</code> request creates a new branch in a particular stack of your organization.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#create-a-branch>Create a branch</a> API Reference document","operationId":"createabranch","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"branch\": {\n        \"uid\": \"release\",\n        \"source\": \"main\"\n    }\n}"}}},"required":true}}},"/v3/stacks/branches/{branch_uid}":{"get":{"summary":"Get a single branch","description":"<p>The <code>Get a single branch</code> request returns information of a specific branch.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-branch>Get a single branch</a> API Reference document","operationId":"getasinglebranch","parameters":[{"$ref":"#/components/parameters/branch_uid"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"delete":{"summary":"Delete a branch","description":"<p>The <code>Delete a branch</code> request deletes an existing branch and all the content within it.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#delete-a-branch>Delete a branch</a> API Reference document","operationId":"deleteabranch","parameters":[{"$ref":"#/components/parameters/branch_uid"},{"name":"force","in":"query","required":true,"description":"Enter 'true' to force delete a branch.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Branches"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/stacks/branch_aliases":{"get":{"summary":"Get all aliases","description":"<p>The <code>Get all aliases</code> request returns comprehensive information of all the aliases available in a particular stack in your account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-aliases>Get all aliases</a> API Reference document","operationId":"getallaliases","parameters":[{"name":"limit","in":"query","required":false,"description":"Enter the maximum number of branches to be returned.","style":"form","schema":{"type":"string","example":""}},{"name":"skip","in":"query","required":false,"description":"Enter the number of branches to be skipped from the response body.","style":"form","schema":{"type":"string","example":""}},{"name":"include_count","in":"query","required":false,"description":"Set this parameter to 'true' to include in response the total count of branches available in a stack.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Aliases"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/stacks/branch_aliases/{branch_alias_UID}":{"get":{"summary":"Get a single alias","description":"<p>The <code>Get a single alias</code> request returns information of a specific alias.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-alias>Get a single alias</a> API Reference document","operationId":"getasinglealias","parameters":[{"$ref":"#/components/parameters/branch_alias_UID"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Aliases"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/stacks/branch_aliases/alias_uid":{"put":{"summary":"Assign or Update an alias","description":"<p>The <code>Assign an alias</code> request creates a new alias in a particular stack of your organization. This alias can point to any existing branch (target branch) of your stack.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#assign-or-update-an-alias>Assign or Update an alias</a> API Reference document","operationId":"assignorupdateanalias","parameters":[],"responses":{"200":{"description":"","headers":{}}},"tags":["Aliases"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n    \"branch_alias\": {\n        \"target_branch\": \"test\"\n    }\n}"}}},"required":true}}},"/v3/stacks/branch_aliases/{branch_alias_uid}":{"delete":{"summary":"Delete an alias","description":"<p>The <code>Delete an alias</code> request deletes an existing alias.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#delete-an-alias>Delete an alias</a> API Reference document","operationId":"deleteanalias","parameters":[{"$ref":"#/components/parameters/branch_alias_uid"},{"name":"force","in":"query","required":true,"description":"Enter 'true' to force delete an alias.","style":"form","schema":{"type":"string","example":""}}],"responses":{"200":{"description":"","headers":{}}},"tags":["Aliases"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/content_types":{"get":{"summary":"Get all content types","description":"<p>The <code>Get all content types</code> call returns comprehensive information of all the content types available in a particular stack in your account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-content-types>Get all content types</a> API Reference document","operationId":"getallcontenttypes","parameters":[{"name":"include_count","in":"query","required":false,"description":"Set this to 'true' to include in response the total count of content types available in your stack.","style":"form","schema":{"type":"string","example":""}},{"name":"include_global_field_schema","in":"query","required":false,"description":"Set this to 'true' to include in response the details of all the fields within the Global field's schema.","style":"form","schema":{"type":"string","example":""}},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"post":{"summary":"Create a content type | Create content type with select field | Create content type with JSON RTE | Create a content type with embedded RTE objects | Create Content Type with Extension Field.....","description":"<p>For more information on the individual requests, click on their respective documentation links below:\n\nAnd below this line, we'll be providing the documentation links in bulleted list form.</p>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-a-content-type\" target=_blank>Create a content type</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-content-type-with-select-field\" target=_blank>Create content type with select field</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-content-type-with-json-rte\" target=_blank>Create content type with JSON RTE</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-a-content-type-with-embedded-rte-objects\" target=_blank>Create a content type with embedded RTE objects</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-content-type-with-extension-field\" target=_blank>Create Content Type with Extension Field</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#create-content-type-with-json-rte-plugin\" target=_blank>Create content type with JSON RTE plugin</a></li></ul>","operationId":"createacontenttype|createcontenttypewithselectfield|createcontenttypewithjsonrte|createacontenttypewithembeddedrteobjects|createcontenttypewithextensionfield.....","parameters":[{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Extensions"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Create a content type ":{"summary":"Create a content type ","value":"{\n\t\"content_type\": {\n\t\t\"title\": \"Page\",\n\t\t\"uid\": \"page\",\n\t\t\"schema\": [{\n\t\t\t\t\"display_name\": \"Title\",\n\t\t\t\t\"uid\": \"title\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"URL\",\n\t\t\t\t\"uid\": \"url\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t}\n\t\t],\n\t\t\"options\": {\n\t\t\t\"title\": \"title\",\n\t\t\t\"publishable\": true,\n\t\t\t\"is_page\": true,\n\t\t\t\"singleton\": false,\n\t\t\t\"sub_title\": [\n\t\t\t\t\"url\"\n\t\t\t],\n\t\t\t\"url_pattern\": \"/:title\",\n\t\t\t\"url_prefix\": \"/\"\n\t\t}\n\t}\n}"},"Create content type with select field":{"summary":"Create content type with select field","value":"{\n    \"content_type\":{\n        \"title\":\"Page\",\n        \"uid\":\"page\",\n        \"schema\":[\n            {\n                \"display_name\":\"Title\",\n                \"uid\":\"title\",\n                \"data_type\":\"text\",\n                \"field_metadata\":{\n                    \"_default\":true\n                },\n                \"unique\":false,\n                \"mandatory\":true,\n                \"multiple\":false\n            },\n            {\n                \"display_name\":\"URL\",\n                \"uid\":\"url\",\n                \"data_type\":\"text\",\n                \"field_metadata\":{\n                    \"_default\":true\n                },\n                \"unique\":false,\n                \"multiple\":false\n            },\n            {\n                \"data_type\":\"text\",\n                \"display_name\":\"Select Sample One\",\n                \"display_type\":\"dropdown\",\n                \"enum\":{\n                    \"advanced\":false,\n                    \"choices\":[\n                        {\n                            \"value\":\"1\"\n                        },\n                        {\n                            \"value\":\"2\"\n                        },\n                        {\n                            \"value\":\"3\"\n                        }\n                    ]\n                },\n                \"multiple\":true,\n                \"uid\":\"select_sample_one\",\n                \"field_metadata\":{\n                    \"description\":\"\",\n                    \"default_value\":\"\"\n                },\n                \"mandatory\":false,\n                \"unique\":false\n            },\n            {\n                \"data_type\":\"text\",\n                \"display_name\":\"Select Sample Two\",\n                \"display_type\":\"dropdown\",\n                \"enum\":{\n                    \"advanced\":true,\n                    \"choices\":[\n                        {\n                            \"key\":\"New York\",\n                            \"value\":\"NY\"\n                        },\n                        {\n                            \"key\":\"India\",\n                            \"value\":\"IN\"\n                        },\n                        {\n                            \"key\":\"Australia\",\n                            \"value\":\"AUS\"\n                        }\n                    ]\n                },\n                \"multiple\":true,\n                \"uid\":\"select_sample_two\",\n                \"field_metadata\":{\n                    \"description\":\"\",\n                    \"default_value\":\"\"\n                },\n                \"mandatory\":false,\n                \"unique\":false\n            }\n        ],\n        \"options\":{\n            \"title\":\"title\",\n            \"publishable\":true,\n            \"is_page\":true,\n            \"singleton\":false,\n            \"sub_title\":[\n                \"url\"\n            ],\n            \"url_pattern\":\"/:title\",\n            \"url_prefix\":\"/\"\n        }\n    }\n}"},"Create content type with JSON RTE":{"summary":"Create content type with JSON RTE","value":"{\n  \"content_type\":{\n    \"title\":\"JSON test\",\n    \"uid\":\"json_test\",\n    \"schema\":[\n      {\n        \"display_name\":\"Title\",\n        \"uid\":\"title\",\n        \"data_type\":\"text\",\n        \"mandatory\":true,\n        \"unique\":true,\n        \"field_metadata\":{\n          \"_default\":true\n        },\n        \"non_localizable\":false,\n        \"multiple\":false\n      },\n      {\n        \"display_name\":\"URL\",\n        \"uid\":\"url\",\n        \"data_type\":\"text\",\n        \"mandatory\":false,\n        \"field_metadata\":{\n          \"_default\":true\n        },\n        \"non_localizable\":false,\n        \"multiple\":false,\n        \"unique\":false\n      },\n      {\n        \"data_type\":\"json\",\n        \"display_name\":\"JSON RTE\",\n        \"uid\":\"json_rte\",\n        \"field_metadata\":{\n          \"allow_json_rte\":true,\n          \"description\":\"\",\n          \"default_value\":\"\"\n        },\n        \"reference_to\":[\n          \"blog_posts\"\n        ],\n        \"non_localizable\":false,\n        \"multiple\":false,\n        \"mandatory\":false,\n        \"unique\":false\n      }\n    ],\n    \"options\":{\n      \"is_page\":true,\n      \"singleton\":false,\n      \"title\":\"title\",\n      \"sub_title\":[\n        \n      ],\n      \"url_pattern\":\"/:title\",\n      \"url_prefix\":\"/\"\n    }\n  }\n}"},"Create a content type with embedded RTE objects":{"summary":"Create a content type with embedded RTE objects","value":"{\n    \"content_type\":{\n        \"title\":\"Sample Content\",\n        \"uid\":\"sample_content\",\n        \"schema\":[\n            {\n                \"display_name\":\"Title\",\n                \"uid\":\"title\",\n                \"data_type\":\"text\",\n                \"field_metadata\":{\n                    \"_default\":true\n                },\n                \"unique\":false,\n                \"mandatory\":true,\n                \"multiple\":false\n            },\n            {\n                \"display_name\":\"URL\",\n                \"uid\":\"url\",\n                \"data_type\":\"text\",\n                \"field_metadata\":{\n                    \"_default\":true\n                },\n                \"unique\":false,\n                \"multiple\":false\n            },\n            {\n                \"data_type\":\"text\",\n                \"display_name\":\"Sample RTE\",\n                \"uid\":\"sample_rich_text_editor\",\n                \"field_metadata\":{\n                    \"allow_rich_text\":true,\n                    \"description\":\"\",\n                    \"multiline\":false,\n                    \"rich_text_type\":\"advanced\"\n                },\n                \"reference_to\":[\n                    \"content_type_UID_1\",\n                    \"content_type_UID_1\",\n                    \"sys_assets\"\n                ],\n                \"mandatory\":false,\n                \"unique\":false,\n                \"non_localizable\":false\n            }\n        ],\n        \"options\":{\n            \"title\":\"title\",\n            \"publishable\":true,\n            \"is_page\":true,\n            \"singleton\":false,\n            \"sub_title\":[\n                \"url\"\n            ],\n            \"url_pattern\":\"/:title\",\n            \"url_prefix\":\"/\"\n        }\n    }\n}\n"},"Create Content Type with Extension Field":{"summary":"Create Content Type with Extension Field","value":"{\n\t\"content_type\": {\n\t\t\"title\": \"Sample\",\n\t\t\"uid\": \"sample\",\n                \"schema\": [{\n\t\t\t\t\"display_name\": \"Title\",\n\t\t\t\t\"uid\": \"title\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"URL\",\n\t\t\t\t\"uid\": \"url\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"Extension\",\n\t\t\t\t\"uid\": \"text\",\n\t\t\t\t\"data_type\": \"json\",\n\t\t\t\t\"extension_uid\": \"blt002c000ce00b00000\",\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"multiple\": false,\n\t\t\t\t\"unique\": false\n\t\t\t}\n\t\t],\n\t\t\"options\": {\n\t\t\t\"title\": \"title\",\n\t\t\t\"publishable\": true,\n\t\t\t\"is_page\": true,\n\t\t\t\"singleton\": false,\n\t\t\t\"sub_title\": [\n\t\t\t\t\"url\"\n\t\t\t],\n\t\t\t\"url_pattern\": \"/:title\",\n\t\t\t\"url_prefix\": \"/\"\n\t\t}\n\t}\n}"},"Create content type with JSON RTE plugin":{"summary":"Create content type with JSON RTE plugin","value":"{\n  \"content_type\":{\n    \"title\":\"Sample CT with JSON RTE Plugins\",\n    \"uid\":\"sample_ct_with_plugins\",\n    \"schema\":[\n      {\n        \"display_name\":\"Title\",\n        \"uid\":\"title\",\n        \"data_type\":\"text\",\n        \"field_metadata\":{\n          \"_default\":true\n        },\n        \"mandatory\":true,\n        \"unique\":true,\n        \"multiple\":false,\n        \"non_localizable\":false\n      },\n      {\n        \"display_name\":\"URL\",\n        \"uid\":\"url\",\n        \"data_type\":\"text\",\n        \"field_metadata\":{\n          \"_default\":true\n        },\n        \"unique\":false,\n        \"multiple\":false\n      },\n      {\n        \"data_type\":\"json\",\n        \"display_name\":\"JSON Rich Text Editor\",\n        \"uid\":\"json_rte\",\n        \"field_metadata\":{\n          \"allow_json_rte\":true,\n          \"embed_entry\":false,\n          \"description\":\"\",\n          \"default_value\":\"\",\n          \"multiline\":false,\n          \"rich_text_type\":\"basic\",\n          \"options\":[\n            \n          ]\n        },\n        \"reference_to\":[\n          \"sys_assets\"\n        ],\n        \"multiple\":false,\n        \"non_localizable\":false,\n        \"unique\":false,\n        \"mandatory\":false,\n        \"plugins\":[\n          \"blt58a13863db325d6b\",\n          \"bltd6b2c2c3eeca106c\",\n          \"blt13415f84cf5ea6e2\"\n        ]\n      }\n    ],\n    \"options\":{\n      \"title\":\"title\",\n      \"publishable\":true,\n      \"is_page\":true,\n      \"singleton\":false,\n      \"sub_title\":[\n        \"url\"\n      ],\n      \"url_pattern\":\"/:title\",\n      \"url_prefix\":\"/\"\n    }\n  }\n}"}}}},"required":true}}},"/v3/content_types/{content_type_uid}":{"get":{"summary":"Get a single content type","description":"<p>The <code>Get a single content type</code> call returns information of a specific content type.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-content-type>Get a single content type</a> API Reference document","operationId":"getasinglecontenttype","parameters":[{"$ref":"#/components/parameters/content_type_uid"},{"name":"version","in":"query","required":false,"description":"Enter the version of the content type of which you want to retrieve the details. If no version is specified, you will get the latest version of the content type.","style":"form","schema":{"type":"string","example":""}},{"name":"include_global_field_schema","in":"query","required":false,"description":"Set this to 'true' to include in response the details of all the fields within the Global field's schema.","style":"form","schema":{"type":"string","example":""}},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"put":{"summary":"Update Content Type | Set Field Visibility Rule for Content Type | Update content type with embedded RTE objects","description":"<p>For more information on the individual requests, click on their respective documentation links below:\n\nAnd below this line, we'll be providing the documentation links in bulleted list form.</p>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#update-content-type\" target=_blank>Update Content Type</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#set-field-visibility-rule-for-content-type\" target=_blank>Set Field Visibility Rule for Content Type</a></li></ul>\n<ul><li><a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#update-content-type-with-embedded-rte-objects\" target=_blank>Update content type with embedded RTE objects</a></li></ul>","operationId":"updatecontenttype|setfieldvisibilityruleforcontenttype|updatecontenttypewithembeddedrteobjects","parameters":[{"$ref":"#/components/parameters/content_type_uid"},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Embedded"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{},"examples":{"Update Content Type ":{"summary":"Update Content Type ","value":"{\n\t\"content_type\": {\n\t\t\"title\": \"Page\",\n\t\t\"uid\": \"page\",\n\t\t\"schema\": [{\n\t\t\t\t\"display_name\": \"Title\",\n\t\t\t\t\"uid\": \"title\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"URL\",\n\t\t\t\t\"uid\": \"url\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t}\n\t\t],\n\t\t\"options\": {\n\t\t\t\"title\": \"title\",\n\t\t\t\"publishable\": true,\n\t\t\t\"is_page\": true,\n\t\t\t\"singleton\": false,\n\t\t\t\"sub_title\": [\n\t\t\t\t\"url\"\n\t\t\t],\n\t\t\t\"url_pattern\": \"/:title\",\n\t\t\t\"url_prefix\": \"/\"\n\t\t}\n\t}\n}"},"Set Field Visibility Rule for Content Type":{"summary":"Set Field Visibility Rule for Content Type","value":"{\n\t\"content_type\": {\n\t\t\"title\": \"Page\",\n\t\t\"uid\": \"page\",\n\t\t\"schema\": [{\n\t\t\t\t\"display_name\": \"Title\",\n\t\t\t\t\"uid\": \"title\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"URL\",\n\t\t\t\t\"uid\": \"url\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"Single Line Textbox\",\n\t\t\t\t\"uid\": \"single_line_textbox\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"Multi Line Textbox\",\n\t\t\t\t\"uid\": \"multi_line_textbox\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t}\n\t\t],\n\t\t\"field_rules\": [{\n\t\t\t\"conditions\": [{\n\t\t\t\t\"operand_field\": \"single_line_textbox\",\n\t\t\t\t\"operator\": \"equals\",\n\t\t\t\t\"value\": \"abc\"\n\t\t\t}],\n\t\t\t\"match_type\": \"all\",\n\t\t\t\"actions\": [{\n\t\t\t\t\"action\": \"show\",\n\t\t\t\t\"target_field\": \"multi_line_textbox\"\n\t\t\t}]\n\t\t}],\n\t\t\"options\": {\n\t\t\t\"title\": \"title\",\n\t\t\t\"publishable\": true,\n\t\t\t\"is_page\": true,\n\t\t\t\"singleton\": false,\n\t\t\t\"sub_title\": [\"url\"],\n\t\t\t\"url_pattern\": \"/:title\",\n\t\t\t\"url_prefix\": \"/\"\n\t\t}\n\t}\n}"},"Update content type with embedded RTE objects":{"summary":"Update content type with embedded RTE objects","value":"{\n\t\"content_type\": {\n\t\t\"title\": \"Saby Content\",\n\t\t\"uid\": \"seba\",\n\t\t\"schema\": [{\n\t\t\t\t\"display_name\": \"Title\",\n\t\t\t\t\"uid\": \"title\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"mandatory\": true,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"display_name\": \"URL\",\n\t\t\t\t\"uid\": \"url\",\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"_default\": true\n\t\t\t\t},\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"multiple\": false\n\t\t\t},\n\t\t\t{\n\t\t\t\t\"data_type\": \"text\",\n\t\t\t\t\"display_name\": \"Sample RTE\",\n\t\t\t\t\"uid\": \"sample_rich_text_editor\",\n\t\t\t\t\"field_metadata\": {\n\t\t\t\t\t\"allow_rich_text\": true,\n\t\t\t\t\t\"description\": \"\",\n\t\t\t\t\t\"multiline\": false,\n\t\t\t\t\t\"rich_text_type\": \"advanced\"\n\t\t\t\t},\n\t\t\t\t\"reference_to\": [\"content_type_UID_1\", \"content_type_UID_2\", \"content_type_UID_3\", \"sys_assets\"],\n\t\t\t\t\"mandatory\": false,\n\t\t\t\t\"unique\": false,\n\t\t\t\t\"non_localizable\": false\n\t\t\t}\n\t\t],\n\t\t\"options\": {\n\t\t\t\"title\": \"title\",\n\t\t\t\"publishable\": true,\n\t\t\t\"is_page\": true,\n\t\t\t\"singleton\": false,\n\t\t\t\"sub_title\": [\n\t\t\t\t\"url\"\n\t\t\t],\n\t\t\t\"url_pattern\": \"/:title\",\n\t\t\t\"url_prefix\": \"/\"\n\t\t}\n\t}\n}"}}}},"required":true}},"delete":{"summary":"Delete Content Type","description":"<p>The <code>Delete Content Type</code> call deletes an existing content type and all the entries within it.\n<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#delete-content-type>Delete Content Type</a> API Reference document","operationId":"deletecontenttype","parameters":[{"$ref":"#/components/parameters/content_type_uid"},{"name":"force","in":"query","required":false,"description":"Enter 'true' to force delete a content type.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/content_types/{content_type_uid}/references":{"get":{"summary":"Get all references of content type","description":"<p>The <code>Get all references of content type</code> call will fetch all the content types in which a specified content type is&nbsp;referenced.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-references-of-content-type>Get all references of content type</a> API Reference document","operationId":"getallreferencesofcontenttype","parameters":[{"$ref":"#/components/parameters/content_type_uid"},{"name":"include_global_fields","in":"query","required":false,"description":"Set the include_global_fields parameter to “true” to retrieve all the Global fields in which the specified content type is referenced.","style":"form","schema":{"type":"string","example":""}},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/content_types/{content_type_uid}/export":{"get":{"summary":"Export a content type","description":"<p>This call is used to export a specific content type and its schema. The data is exported in JSON format.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#export-a-content-type>Export a content type</a> API Reference document","operationId":"exportacontenttype","parameters":[{"$ref":"#/components/parameters/content_type_uid"},{"name":"version","in":"query","required":false,"description":"Enter the version of content type you want to retrieve. If no version is specified, you will get the latest version of the content type.","style":"form","schema":{"type":"string","example":""}},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/content_types/import":{"post":{"summary":"Import a content type","description":"<p>The <code>Import a content type</code> call imports a content type into a stack by uploading JSON file.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#import-a-content-type>Import a content type</a> API Reference document","operationId":"importacontenttype","parameters":[{"name":"overwrite","in":"query","required":false,"description":"Select 'true' to replace the existing content type with the imported content type file.","style":"form","schema":{"type":"string","example":""}},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Content types"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"content_type":{"type":"string","format":"binary","description":"Upload the JSON file of the content type that you want to import.\n"}}}}},"required":true}}},"/v3/global_fields":{"get":{"summary":"Get all global fields","description":"<p>The <code>Get all global fields</code> call returns comprehensive information of all the global fields available in a particular stack in your account.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-all-global-fields>Get all global fields</a> API Reference document","operationId":"getallglobalfields","parameters":[{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Global fields"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"post":{"summary":"Create a global field","description":"<p>The <code>Create a global field</code> request allows you to create a new global field in a particular stack of your Contentstack account. You can use this global field in any content type within your stack.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#create-a-global-field>Create a global field</a> API Reference document","operationId":"createaglobalfield","parameters":[{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Global fields"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n        \"global_field\": {\n            \"title\": \"Servlet\",\n            \"uid\": \"servlet\",\n            \"schema\": [{\n                \"display_name\": \"Name\",\n                \"uid\": \"name\",\n                \"data_type\": \"text\"\n            }, {\n                \"data_type\": \"text\",\n                \"display_name\": \"Rich text editor\",\n                \"uid\": \"description\",\n                \"field_metadata\": {\n                    \"allow_rich_text\": true,\n                    \"description\": \"\",\n                    \"multiline\": false,\n                    \"rich_text_type\": \"advanced\",\n                    \"options\": [],\n                    \"version\": 3\n                },\n                \"multiple\": false,\n                \"mandatory\": false,\n                \"unique\": false\n            }]\n        }\n    }"}}},"required":true}}},"/v3/global_fields/{global_field_uid}":{"get":{"summary":"Get a single global field","description":"<p>The <code>Get a single global field</code> request allows you to fetch comprehensive details of a specific global field.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#get-a-single-global-field>Get a single global field</a> API Reference document","operationId":"getasingleglobalfield","parameters":[{"$ref":"#/components/parameters/global_field_uid"},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Global fields"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]},"put":{"summary":"Update a global field","description":"<p>The <code>Update a global field</code> request allows you to update the schema of an existing global field.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#update-a-global-field>Update a global field</a> API Reference document","operationId":"updateaglobalfield","parameters":[{"$ref":"#/components/parameters/global_field_uid"},{"name":"include_branch","in":"query","required":false,"description":"Set this to 'true' to include the '_branch' top-level key in the response. This key states the unique ID of the branch where the concerned Contentstack module resides.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Global fields"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}],"requestBody":{"content":{"application/json":{"schema":{"example":"{\n        \"global_field\": {\n            \"title\": \"Servlet\",\n            \"uid\": \"servlet\",\n            \"schema\": [{\n                \"display_name\": \"Name\",\n                \"uid\": \"name\",\n                \"data_type\": \"text\"\n            }, {\n                \"data_type\": \"text\",\n                \"display_name\": \"Rich text editor\",\n                \"uid\": \"description\",\n                \"field_metadata\": {\n                    \"allow_rich_text\": true,\n                    \"description\": \"\",\n                    \"multiline\": false,\n                    \"rich_text_type\": \"advanced\",\n                    \"options\": [],\n                    \"version\": 3\n                },\n                \"multiple\": false,\n                \"mandatory\": false,\n                \"unique\": false\n            }]\n        }\n    }"}}},"required":true}},"delete":{"summary":"Delete global field","description":"<p>The <code>Delete global field</code> request allows you to delete a specific global field.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#how-to-get-authtoken\">Authtoken.</a>&nbsp;<br>Read more about it in <a href=\"https://www.contentstack.com/docs/developers/apis/content-management-api/#authentication\">Authentication.</a>\n</p><br>For more information, refer to the <a target=_blank href=https://www.contentstack.com/docs/developers/apis/content-management-api/#delete-global-field>Delete global field</a> API Reference document","operationId":"deleteglobalfield","parameters":[{"$ref":"#/components/parameters/global_field_uid"},{"name":"force","in":"query","required":true,"description":"Set the force parameter to 'true' to delete the Global field.","style":"form","schema":{"type":"string","example":""}},{"$ref":"#/components/parameters/branch"}],"responses":{"200":{"description":"","headers":{}}},"tags":["Global fields"],"security":[{"api_key":[],"authtoken":[],"authorization":[]}]}},"/v3/global_fields/import":{"post":{"summary":"Import a global field","description":"<p>The <code>Import a global field</code> call imports a global field into a stack.<br><p>To use the API Request, you will need to authenticate yourself either with a&nbsp;<a href=\"https://www.contentstack.com/docs/developers/create-tokens/about-management-tokens\">Management Token (highly recommended)</a>&nbsp;or an <a href=\"https://www.contentstack.com/docs/developers/apis/conte
[...]
